:root, :before, :after{
  --bg-2:#FFFFFF;  
  --color-1:#757575; 
  --color-1a:rgb(117 117 117 / 8%);
  --color-2:#231f20;
  --color-2a:rgb(35 31 32 / 8%);
  --color-3:#2f4858; 
  --color-3a:rgb(47 72 88 / 8%);
  --color-4:#ed1c24;
  --color-4a:rgb(237 28 36 / 8%);
  --color-border:#EEEEEE;
  --color-border-form:#E0E0E0;
  --color-fb:#1877f2;
  --color-tw:#000000;
  --color-ig:#E1306C;
  --color-tk:#000000;
  --color-yt:#f60029;
  --color-ln:#0a66c2;
  --color-wa:#1DAA61;
  --color-tg:#0088cc;
  --color-ml:#db4300;
  --color-wc:#09B83E;
  --rounded-1:8px;
  --rounded-2:16px;
  --rounded-3:24px;
  --hover-opacity:34%;
  --transition-default:all 0.34s;
  --shadow-default:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{color:var(--color-1);}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-4); fill:var(--color-4);}
a:hover, button:hover{color:var(--color-3); fill:var(--color-3);}
.btn, a.btn, button.btn{background-color:var(--color-4); color:var(--bg-2); fill:var(--bg-2); border-radius:var(--size-6);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-3); color:var(--bg-2); fill:var(--bg-2);}
.btn-outline{border:2px solid var(--color-4); color:var(--color-4); fill:var(--color-4); background-color:transparent; border-radius:var(--size-6);}
.btn-outline:hover{border:2px solid var(--color-3); color:var(--color-3); fill:var(--color-3);}



a.img-frame:hover{opacity:var(--hover-opacity);}
.img-frame > img{transition:var(--transition-default);}
.img-frame > img.lazyloaded, .img-frame > iframe.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.header, .personal-data, .tab-button{background-color:var(--bg-2);}
.header-box{fill:var(--color-2);}
.header-box:hover{fill:var(--color-4);}



.pdt-frame{border-radius:50%;}
.pdi-name, .pdi-name-chinese{color:var(--color-2);}



.tab{box-shadow:var(--shadow-default);}
.tab-button{border-color:var(--bg-2); color:var(--color-1);}
.tab-button:hover{color:var(--color-2);}
.tab-curr{border-color:var(--color-4) !important; color:var(--color-4) !important;}



.mcs-box{background-color:var(--bg-2); border-radius:var(--rounded-2); box-shadow:var(--shadow-default);}
.mcs-info{color:var(--color-2);}
a.mcs-info:hover{color:var(--color-4);}
.mcs-qr-frame{border-color:var(--color-border); border-radius:var(--rounded-1);}
.mcs-qr:hover{opacity:var(--hover-opacity);}
.mcs-wa{color:var(--color-wa); fill:var(--color-wa);}
.mcs-ml{color:var(--color-ml); fill:var(--color-ml);}
.mcs-wc{color:var(--color-wc); fill:var(--color-wc);}
.mcs-office{color:var(--color-1); fill:var(--color-1);}



.footer-curve svg{fill:var(--color-4);}
.footer-copyright{background-color:var(--color-4);}
.footer-link{color:var(--bg-2);}



.rancak-popup, .rancak-popup-overlay, .rancak-popup-container{top:0; left:0; width:100%; height:100%;}
.rancak-popup{position:fixed; z-index:calc(var(--max-zindex) - 1000);}
.rancak-popup-container{position:relative; z-index:1000; padding:var(--body-padding);}
.rancak-popup-overlay{position:absolute; z-index:2000; background-color:var(--color-2); opacity:34%;}
.rancak-popup-box{position:relative; z-index:3000; width:100%; max-width:610px; max-height:100%; padding:var(--body-padding); background-color:var(--bg-2);
border:1px solid var(--color-border); border-radius:var(--rounded-2); box-shadow:var(--shadow-default); overflow:hidden; overflow-y:auto;}
.rancak-popup-close{--button-size:var(--size-5); position:absolute; z-index:2000; color:var(--color-4);
top:calc(var(--button-size) / 3 * -1); right:calc(var(--button-size) / 3 * -1);}
.rancak-popup-close:hover{color:var(--color-2);}
.rancak-popup-close svg{width:var(--button-size); height:auto;}



.qr-detail{max-width:568px; height:100vh; height:100svh; border-radius:0; border:0; background-color:var(--color-4); color:var(--bg-2);}
.qr-detail .header-close{position:relative; top:0; right:0; padding:var(--size-4); fill:var(--bg-2);}
.qr-detail .header-close:hover{fill:var(--color-2);}
.qr-detail .header{background-color:transparent;}
.qr-detail .header-logo svg path{fill:var(--bg-2);}

.qr-detail-container{padding:var(--size-4) var(--size-5); display:grid; grid-gap:var(--size-4);}
.qr-detail-container *{text-align:center;}
.qrdc-label, .qrdc-detail{font-family:"Bai Jamjuree", sans-serif;}
.qrdc-label{font-size:1.429rem; font-weight:bold; line-height:130%; text-transform:uppercase;}
.qrdc-detail, .qrdc-note{line-height:150%;}
.qrdc-frame{padding:var(--size-5); background-color:var(--bg-2); fill:var(--color-2); border-radius:var(--rounded-3); width:100%; max-width:360px;}
.qrdc-frame svg{width:100%; height:auto;}







@media screen and (min-width:0px) and (max-width:567px){
  
}







@media screen and (min-width:568px){
  .rancak-bg{background:url(../img/bg.png) var(--bg-1);}
  .rancak-container{background-color:var(--bg-1); box-shadow:var(--shadow-default);}
}
