*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:900}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content-center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --size-1:4px;
  --size-2:8px;
  --size-3:12px;
  --size-4:20px;
  --size-5:32px;
  --size-6:52px;
  --size-7:84px;
  --max-zindex:2147483648;
  --font-size:14px;
  --bg-1:#FAFAFA;
}



body, html{font-family:'Inter',sans-serif; font-size:var(--font-size); font-weight:normal; font-optical-sizing:auto; font-style:normal; letter-spacing:0.13px; 
font-feature-settings:'lnum' 1; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html, body{background-color:var(--bg-1);}
html{scroll-behavior:smooth; min-height:100vh;}
body{overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn, .btn-outline{padding:var(--size-3) var(--size-4); font-weight:bold; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}



.img-frame{display:block; overflow:hidden; position:relative; line-height:0;}
.img-frame:before{content:''; display:block; padding-top:calc(100% / calc(var(--aspect-ratio)));}
.img-frame img, .img-frame iframe{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover; opacity:0;}
.img-frame img:not([src]){visibility:hidden;}



.rancak-foundation, .rancak-container{position:relative;}
.rancak-container{z-index:1000; min-height:100vh; width:100%; max-width:568px; display:grid; grid-auto-rows:min-content; grid-template-rows:auto auto auto 1fr auto;}



.header, .personal-data{position:relative; z-index:1000;}
.header .site-container{display:flex; justify-content:space-between; align-items:center; padding:var(--size-3); padding-top:var(--size-2);}
.header-box{padding:var(--size-4);}
.header-box svg{width:auto !important; height:var(--size-4) !important;}
.header-logo svg{height:var(--size-5) !important;}
.header-right{display:flex;}



.personal-data{--thumb-size:72px; padding:0 var(--size-5) var(--size-4);}
.personal-data-container{display:grid; grid-template-columns:auto 1fr; align-items:center;}
.pdt-frame{--aspect-ratio:1/1; width:var(--thumb-size); margin-right:var(--size-4);}
.pdi-container{display:grid; grid-gap:var(--size-1);}
.pdi-name, .pdi-name-chinese{font-size:16px; line-height:140%;}
.pdi-name{font-family:"Bai Jamjuree", sans-serif; font-size:1.143rem; font-weight:bold; line-height:130%; text-transform:uppercase;}



.tab{display:grid; grid-template-columns:repeat(2,1fr); position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 9000); top:0;}
.tab-button{padding:var(--size-3) var(--size-4); border-bottom:3px solid;
font-family:"Bai Jamjuree", sans-serif; font-size:1rem; font-weight:bold; line-height:130%; text-transform:uppercase;}



.main-content{padding:var(--size-5);}
.main-content-slide{display:none;}
.main-content-slide[aria-slide="tab-Personal"]{display:block;}
.mcs-container{display:grid; grid-gap:var(--size-3);}
.mcs-box{display:grid; grid-gap:var(--size-3); grid-template-columns:1fr auto; padding:var(--size-4); align-items:center; overflow:hidden;}
.mcs-info{display:grid; grid-gap:var(--size-2); grid-auto-rows:min-content;}
.mcs-label{display:flex; align-items:center; font-weight:normal;}
.mcs-label svg{width:auto; height:16px; margin-right:var(--size-2);}
.mcs-data{line-height:150%;}
.mcs-qr-frame{line-height:0; padding:var(--size-2); border:1px solid;}
.mcs-qr-frame svg{width:auto; height:var(--size-5);}

.mcs-address{padding:0;}
.mcs-address .mcs-info{padding:var(--size-4);}
.mcs-map{width:120px; height:100%; min-height:120px;}



.footer{display:grid;}
.footer-curve{line-height:0;}
.footer-curve svg{width:100%; height:auto; position:relative; bottom:-1px;}
.footer-copyright{padding:var(--size-1) var(--size-5) var(--size-3); text-align:right; font-weight:bold;}







@media screen and (min-width:0px) and (max-width:567px){
  :root, :before, :after{
    
  }
  
  
  
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
}