:root, :before, :after{
  --font-size:16px;
}

.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
.rancak-bg{position:fixed; z-index:1; top:0; left:0; width:100%; height:100%;}
.mcs-map{width:160px; min-height:160px;}